<div class="popupHTML">
	<div class="mb-4">
			<div class="popupHTML__header">{{ location.name | clean_lines }}</div>
			<p>{{ location.street_name }} {{ location.house_number }}, {{ location.city }}</p>

			<br>
			<p>{{ location.postal_code }} {{ location.city }}</p>
			<p>{{ location.email }}</p>
			<p>{{ location.phone_number }}</p>
			{% if location.phone_number_2 %}
				<p>{{ location.phone_number_2 }} ({{ 'location.popup.emergency' |_ }})</p>
			{% endif %}

			{% if location.google_maps_url %}
				<a href="{{ location.google_maps_url }}" target="_blank" rel="noreferrer noopener">{{ 'location.popup.google_maps_label' |_ }}</a>
			{% endif %}
	</div>
	<div class="mb-4">
		{% if location.opening_times %}
			<div class="popupHTML__header">{{ 'location.popup.opening_times' |_ }}</div>
			{% for time in location.opening_times  %}
{% set active = '' %}
{% if time.opening_day == location.day_of_week %}
    {% set active = 'active' %}
{% endif %}
<div class="locationbyslug__opening--item {{ active }}">
    <div class="left">
        {% if time.opening_day == 'anders' %}
            {{ time.opening_other }}
        {% else %}
            {{ time.opening_day }}
        {% endif %}
    </div>
    <div class="right">
        {% for opening in time.opening_times  %}
        <div class="d-flex">
            <div>
                {{ opening.time_from | date('H:i') }}
            </div>
            <span>-</span>
            <div>
                {{ opening.time_to | date('H:i') }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
			{% endif %}
	</div>
{% if location.facilities_list %}
	<div class="mb-4 popupHTML__facilities">
		<div class="popupHTML__header">Faciliteiten</div>
		<ul class="list-group">
			{% for facility in location.facilities_list %}
			<li class="list-group-item" >
				{{ 'assets/img/icon-checkmark.svg' | inline }} {{ facility.name }}
			</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
	<div class="mb-4">
		<a href="/praktijk/{{ location.slug }}" class="btn btn-primary w-100">{{ 'location.btn.show_location' |_ }}</a>
	</div>
</div>

