<div id='map'></div>
<script>
	var accessToken = "{{ config('greymen.maps::mapboxKey') }}";
	var mapStyle = "{{ config('greymen.maps::mapboxStyle') }}";
</script>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />