<div class="scrollbar" id="scrollbar-style">
{% if stores | length > 0 %}
    <p ><span class="badge badge-primary"> {{stores|length }}</span> {{ "storelocator.stores-found" |_ }}</p>
    {% for store in stores %}
    <a href="javascript:void(0);" onclick="MapFlyTo( {{ loop.index0 }} )">
    <div id="mapitem-{{ loop.index0 }}">
        <div class="list-header">{{ store.name | upper}}</div>
        <div class="list-adress">
                {{ store.address }}
                <span class="badge badge-primary">{{ store.distance | round(1) }} km<span>
        </div>
        <hr>
    </div>
    </a>
    {% endfor %}
{% else %}
    {{ "storelocator.no-store-found" |_ }}
    <br>
    {% if error.zip %}
        {{ 'error.zip' |_ }}
    {% endif %}
{% endif %}
</div>
<script>
    geoData = JSON.parse('{{ geodata | raw }}');
    MapReloadData("{{ zipcode }}","{{ country }}","{{ distance }}");
</script>