#map {
    width: 100%; 
    height:75vh;    
}
#search-holder
{
    position: absolute;
    z-index: 10;
}

#search-stores
{
    position: relative;
}


/* #search-stores, #search-stores h5, #search-stores p, #search-stores input, #search-stores .fa-search
{
    color: #623412;
}

#search-stores .normal, #search-stores input, ::placeholder, ::-webkit-input-placeholder
{
    color: #623412 !important;
    font-family: "RobotoRegular" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
#search-stores input
{
    border: 0px solid white;
} */

#search-stores .badge
{
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
    font-size: 10px;
}

/* #search-stores .btn, #search-stores input 
{
    width: 100%;
    margin-bottom: 10px;
} */

/* #search-stores-results {
    background-color: white;
    height:43vh;
    display: none;
    width: 100%;
} */

/* #search-stores-results .list-group {
    overflow-y: scroll;
    overflow-x: none;
    height: 43vh;
} */

#search-stores-results li {
    cursor: pointer;
}

/* #search-stores-results {
    position: absolute;
    top: -5px;
} */

#search-stores-results p {
    font-size: .75rem;
}

.has-search {
    position: relative;
}

.has-search .form-control {
    padding-right: 45px;
}
  
.has-search .form-control-feedback {
    position: absolute;
    font-size: 22px;
    z-index: 2;
    display: block;
    width: 22px;
    height: 22px;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    color: #000;
    right: 10px;
    top: 14px;
}
.mapboxgl-ctrl
{
    margin-bottom: 100px !important;
}

@media only screen and (max-width: 600px) {

    #map {
        width: 90%; 
        height:95vh;
        margin: auto;
    }
    
    #search-holder
    {
        width: 100%; 
        top: 56px;
    }    
    #search-stores-results:parent {
        height: 60vh;
    }
    #search-stores-results {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 40vh;
        z-index: 1;
    }
    #search-stores-results .list-group {
        height: 30vh;
        top: 0;
    }
    

}