<h1 class="text-center">{{data.title | upper }}</h1>
<input type="text" data-request="Mapbox::onGeoJSON" data-attach-loading data-request-success="setGeoJSON(data)">
<a class="btn btn-primary " href="" data-request="Mapbox::onMapResults" data-attach-loading > onMapResults </a>
<a class="btn btn-primary" href="" data-request="Mapbox::onOnlineStores" data-attach-loading >onOnlineStores</a>
<a class="btn btn-secondary" href="" data-request="Mapbox::onGeoJSON" data-attach-loading data-request-success="setGeoJSON(data)" >Load Data <i class="fas fa-database"></i></a>
<a class="btn btn-secondary" href="" data-request="Mapbox::onTrue" data-attach-loading data-request-success="getLocation()" ><i class="fas fa-location-arrow"></i></a>
<a class="btn btn-secondary" href="" data-request="Mapbox::onTrue" data-attach-loading data-request-success="centerMap()" ><i class="fas fa-street-view"></i></a>
<span id="my-location" class=""></span>

<div id='map' style='width: 100%; height:75vh;'></div>
<div class="detail-wrap detail-wrap--updated"></div>
<div class="location-detail form-wrap"></div>
<div class="results-inner"></div>
<div class="online-stores"></div>

<script>
	var apiKey = "{{api_key}}";
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?&callback=initMap&key="+apiKey type="text/javascript"></script>
