

        <div class="location-detail-item-1">
                <!-- <h4>{{data.title | upper }}</h4> -->
                <h4>Store locator</h4>
          
                <!-- <h5>{{data.locations_header}}</h5> -->
                <h5>Search within</h5>

                <select name="miles" id="radius" class="miles jcf">
                  <option value="25">25 Miles</option>
                  <option value="50">50 Miles</option>
                  <option value="100">100 Miles</option>
                </select>
                <span class="jcf-select jcf-unselectable jcf-select-miles jcf-select-jcf-hidden">
                <span class="jcf-select-text">
                  <span>25 miles</span>
                </span>
                <span class="jcf-select-opener">

                </span>
              </span>

                <br>
                <h5>{{data.zip_code}}</h5>
                <label for="">
                  <input class="zip" id="zip" placeholder="03051" maxlength="8">
                </label>
                <br>
          
                <button id="searchlocations" data-request="storeLocator::onMapResults" class="btn btn-primary">{{data.search_btn | upper }}</button>

            <!-- <div class="detail-wrap detail-wrap--updated">
                    <div class="location-detail-item-2">
                            <h4>{{data.results | upper }}</h4>
                      
                            <div class="list-container">
                              {% for store in stores %}
                              <div class="list-content" onClick="selectStore()">
                                <li class="list-header">{{store.name | upper}}</li>
                                <li>{{store.adress}}</li>
                                <li>{{store.zip}}</li>
                              </div>
                              {% endfor %}
                            </div>
                      
                            <br>
                            <button id="backToSearch" data-request="storeLocator::onMapResultsQueries" class="btn btn-primary">{{data.return_btn | upper }}</button>
                          </div>
            </div> -->
    </div>
</div>

