{% if locations | length > 0 %}
<h1>Locations {{locations| length}} </h1>
{% endif %}
page::
{{ locationPage }}

<div class="card-group">
{% for location in locations %}
    <a href=" {{locationPage ~ location.slug }} ">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="{{ 'assets/img/logo-landscape.png' | theme }} " alt="Card image cap">
                <p class="card-text">{{ location.name }}</p>
                <p class="card-text">{{ location.slug }}</p>
                <p class="card-text">{{ location.lat }},     {{ location.lon }}</p> 
                <a href="{{ locationPage ~ location.slug}}" class="btn btn-primary">{{ 'maps.button.to_location' |_ }}</a> 
            </div>
        </div>
    </a>
    {% endfor %}
</div>
