<div id="search-stores" class="">
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" name="s" id="s" class="form-control" placeholder="Search by city" data-request="SearchStores::onSearch" data-attach-loading data-request-success="searchResult(data)" >
    </div>

    <a class="btn btn-primary" href="" data-request="Mapbox::onTrue" data-attach-loading data-request-success="getCurrentLocation(this)" >{{ current_location_label ? current_location_label : 'Use current location' }}<i class="fas fa-location-arrow ml-2"></i></a>
    <a class="btn btn-primary" href="" data-request="Mapbox::onTrue" data-attach-loading data-request-success="centerMap()" >{{ center_label ? center_label : 'Center' }}<i class="fas fa-street-view ml-2"></i></a>
    <div><span id="my-location" class=""></span></div>
    <div id="search-stores-results"></div>
</div>
