<div class="">
    {% if keyword %}
    <div class="p-3">
        <span class="normal">{{ keyword }}</span> <a href="" class="normal" data-request="Mapbox::onTrue" data-attach-loading data-request-success="hideSearch(true)"><i class="fas fa-times mr-2"></i></a>
    </div>
    <hr class="m-0 p-0">
    {% endif %}
    <div class="p-3">
        <a href="" class="normal" data-request="Mapbox::onTrue" data-attach-loading data-request-success="hideSearch()" ><i class="fas fa-angle-left mr-2"></i>Back to the map</a>
    </div>
</div>
<div class="list-results">
    <ul class="list-group">
    {% if stores.count() > 0  %}
        {% for store in stores %}
        <li class="list-group-item list-group-item-action {{ store.id == id ? 'active' : '' }}" data-lat="{{ store.lat }}" data-lng="{{ store.lon }}" data-id="{{ store.id }}" data-request="Mapbox::onTrue" data-attach-loading onClick="goCompanyLocation(this)">
                <h5 class="">{{ store.name }} <span class="badge badge-primary p-2 m-0">({{ store.distance | round (1, 'ceil') }} km)</span></h5>
                <p>{{ store.address_1 }}</p>
                <p>{{ store.zip }} {{ store.city }}</p>
        </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item list-group-item-action">
            <h5>No stores found</h5>
        </li>
    {% endif %}
    </ul>
</div>