	<div class="container">
		<div class="row">
			<div class="col">
				{{ location.name | to_lines({ class: 'banner__header', element: 'h2' }) }}
				<p>{{ location.short_description }}</p>
				<p><a href="/contact" class="btn btn-primary">{{ 'location.btn.make_appointment' |_ }}</a></p>
				<p>of bel: <a href="tel:{{ location.phone_number }}">{{ location.phone_number }}</a></p>
			</div>
			<div class="col-12 col-lg-7 order-1 order-lg-12 locationbyslug__info--image">
				<img class="w-100" src="{{ location.header_image | media | resize(696,459) }} " alt="{{ location.name }}">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="locationbyslug__opening--times">
					<h5>Openingstijden</h5>
						{% for time in location.opening_times  %}
						{% set active = '' %}
						{% if time.opening_day == location.day_of_week %}
							{% set active = 'active' %}
						{% endif %}
						<div class="locationbyslug__opening--item {{ active }}">
							<div>
								{% if time.opening_day == 'anders' %}
									{{ time.opening_other }}
								{% else %}
									{{ time.opening_day }}
								{% endif %}
							</div>
							<div>
								{{ time.opening_times }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>