<section class="locationbyslug__info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-12 order-lg-1 my-4 my-lg-auto">
                {{ location.name | to_lines({ class: 'banner__header', element: 'h2' }) }}
                <p>{{ location.short_description }}</p>
                <p><a href="/contact" class="btn btn-primary">{{ 'location.btn.make_appointment' |_ }}</a></p>
                <p>of bel: <a href="tel:{{ location.phone_number }}">{{ location.phone_number }}</a></p>
            </div>
            <div class="col-12 col-lg-7 order-1 order-lg-12 locationbyslug__info--image">
                <img class="w-100" src="{{ location.header_image | media | resize(696,459) }} " alt="{{ location.name }}">
            </div>
        </div>
    </div>
</section>
