<section class="locationbyslug__opening">
    <div class="row">
        <div class="col-12 col-lg-4 offset-lg-6">
            <div class="locationbyslug__opening--times">
                <h5>Openingstijden</h5>
                {% partial 'openingtimes.htm' %}
            </div>
        </div>
    </div>
</section>