<section class="locationbyslug__our">
    <div class="container">
        {{ 'location.header.our' |_ | to_lines({ class: 'locationbyslug__our--header', element: 'h2' }) }}
    </div>
        <div class="glide" id="facilityGlide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% if location.images %}
                        {% for image in location.images %}
                        <li class="glide__slide">
                            <div class="glide__item">
                                <img class="w-100" src="{{ image.image | media | resize(2280, _) }}" alt="{{ image.alt }}">
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    {{'assets/img/carousel-indicator-left.svg' | inline }}
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    {{'assets/img/carousel-indicator-right.svg' | inline }}
                </button>
            </div>

            <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
                {% for image in location.images %}
                    <button class="slider__bullet glide__bullet {{loop.index == 1 ? 'glide__bullet--active' : '' }}" data-glide-dir="=0"></button>
                {% endfor %}
            </div>
        </div>

</section>