{% set salutation = (member.salutation == 'mr') ? 'dhr.' : 'mevr.' %}

{% if member.name %}
    {% if member.image %}
        <img class="member__image d-block w-100" src="{{ member.image | media | resize( 280, 403, { mode: 'cover' } )}}" alt="{{ image.alt }}">
    {% endif %}
    <div class="locationbyslug__team--member-info">
        <strong>{{ salutation }} {{ member.name }}</strong><br />
        {% if member.job_title %}
            {{ member.job_title }}<br />
        {% endif %}
        {% if member.big %}
            BIG: {{ member.big }}
        {% endif %}
    </div>
{% endif %}