<section class="locationbyslug__team">
    <div class="container">
        {{ 'location.header.team' |_ | to_lines({ class: 'locationbyslug__team--header', element: 'h2' }) }}

        <div class="row">
            {% for team_member in location.team_members %}
                <div class="col-6 col-lg-3 my-4 locationbyslug__team--member">
                    {% partial __SELF__ ~ '::teammember' member=team_member %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
