<section class="locationbyslug__treatments">
    <div class="container">
        {{ 'location.header.treatments' |_ | to_lines({ class: 'locationbyslug__treatments--header', element: 'h2' }) }}

        {% component 'treatmentItemsPartial' type='cards' limit='4' %}

        <div class="treatment-card__button text-center mt-5">
            <a href="/behandelingen" class="btn btn-primary" id="treatmentBySlugAllTreatmentsBtn" data-aos="fade-up"
                data-aos-delay="300">{{ "location.button.bekijk_alle_behandelingen" |_ }}
            </a>
        </div>
    </div>
</section>
