<section class="locationbyslug__who">
    <div class="container">
        {{ 'location.header.wie' |_ | to_lines({ class: 'locationbyslug__who--header', element: 'h2' }) }}
        <div class="row">
            <div class="col-12 col-lg-6">
                <p>{{ location.detailed_description | raw }}</p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row locationbyslug__who--facilitieslist">
                    {% for facility in location.facilities_list %}
                    <div class="col-6 col-lg-3 text-center">
                        <img src="{{ facility.icon  | media }}">
                        <p class="mt-3">{{ facility.name }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>